<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>Measuring trust for the top {{ total_crates_inquired }} Rust crates - pollux report</title>
    <meta
        name="description"
        content="Build reproducibility and provenance attestation checks for top 1000 Rust crates."
    />

    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.classless.min.css"
    />
</head>

<body>
<br/>
<header>
    <hgroup>
        <h1>Measuring trust for the top {{ total_crates_inquired }} Rust crates</h1>
    </hgroup>
</header>

<main>
    <section id="about">
        <h2>About</h2>
        <p>
            Sed ultricies dolor non ante vulputate hendrerit. Vivamus
            sit amet suscipit sapien. Nulla iaculis eros a elit pharetra
            egestas.
        </p>
    </section>

    <section id="report">
        <h2>Report</h2>
        <p>
            For the top {{ total_crates_inquired }} crates served by crates.io:
        </p>

        <ul>
            <li>{{ total_crates_with_provenance }} out of {{ total_crates_inquired }} are published with trusted publishing (~ {{ presence_of_provenance }}%)</li>
            <li>{{ total_crates_with_reproducibility }} out of {{ total_crates_inquired }} have builds reproduced by oss-rebuild (~ {{ presence_of_reproducibility }}%)</li>
        </ul>

        <p>
            Here follows the complete list of checked crates:
        </p>

        <hr/>

        <div class="overflow-auto">
            <table class="striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Crate</th>
                    <th scope="col">Checked Version</th>
                    <th scope="col">Reproducible builds</th>
                    <th scope="col">Trusted publishing</th>
                </tr>
                </thead>

                <tbody>
                    {%- for outcome in outcomes %}
                    <tr>
                        <th scope="row">{{- loop.index }}</th>
                        <td><a href="https://crates.io/crates/{{ outcome.cargo_package.name }}">{{ outcome.cargo_package.name }}</a></td>
                        <td>{{ outcome.cargo_package.version }}</td>

                        {% if outcome.checks.provenance_evidence %}
                        <td><a href="{{ outcome.checks.provenance_evidence }}">yes</a></td>
                        {% else %}
                        <td>no</td>
                        {% endif %}

                        {% if outcome.checks.reproducibility_evidence %}
                        <td><a href="{{ outcome.checks.reproducibility_evidence }}">yes</a></td>
                        {% else %}
                        <td>no</td>
                        {% endif %}
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>
        </div>
    </section>
</main>

<footer>
    <small>
        Report generated by <a href="https://github.com/dotanuki-labs/pollux">pollux</a>
    </small>
</footer>

<script>
    document.querySelector("html")?.setAttribute("data-theme", "dark");
</script>
</body>
</html>
