<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>Measuring trust for the top {{ total_crates_inquired }} Rust crates - pollux report</title>
    <meta
        name="description"
        content="Build reproducibility and trusted publishing attestation checks for top {{ total_crates_inquired }} Rust crates."
    />

    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.classless.min.css"
    />
    <link rel="shortcut icon" href="https://ubiratansoares.dev/favicon.png">
</head>

<body>
<br/>
<header>
    <hgroup>
        <h1>Measuring trust for the top {{ total_crates_inquired }} Rust crates</h1>
    </hgroup>
</header>

<main>
    <section id="about">
        <h2>About</h2>
        <p>
            This report is a small contribution towards safer Rust supply-chains in the long run.
            It leverares public information available in the open-source ecosystem to inquire about which open-source crates adopts the <a href="https://rust-lang.github.io/rfcs/3691-trusted-publishing-cratesio.html">RFC 3691</a> and also which ones can have <a href="https://reproducible-builds.org/">build artifacts reproduced</a>.
        </p>

        <p>
            This report is updated at least once a week, and always target the default available version for a crate. The source code for this automation is available on <a href="https://github.com/dotanuki-labs/pollux">Github</a>, and you can generate this report by yourself!
        </p>
        <p></p>
    </section>

    <section id="report">
        <h2>Report</h2>
        <p>
            For the top {{ total_crates_inquired }} crates served by <a href="https://crates.io">crates.io</a>:
        </p>

        <ul>
            <li>{{ total_crates_with_trusted_publishing }} out of {{ total_crates_inquired }} adopt <a href="https://crates.io/docs/trusted-publishing">trusted publishing</a> (~ {{ presence_of_trusted_publishing }}%)</li>
            <li>{{ total_crates_with_reproducibility }} out of {{ total_crates_inquired }} have builds reproduced by <a href="https://oss-rebuild.dev">oss-rebuild</a> (~ {{ presence_of_reproducibility }}%)</li>
        </ul>

        <p>
            Ideally we should have 100% of coverage, but it seems we are not there yet...😅 Anyhow, here follows the complete list of checked crates and related links:
        </p>

        <hr/>

        <div class="overflow-auto">
            <table class="striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Crate</th>
                    <th scope="col">Checked Version</th>
                    <th scope="col">Trusted publishing</th>
                    <th scope="col">Reproducible builds</th>
                </tr>
                </thead>

                <tbody>
                    {%- for outcome in outcomes %}
                    <tr>
                        <th scope="row">{{- loop.index }}</th>
                        <td><a href="https://crates.io/crates/{{ outcome.cargo_package.name }}">{{ outcome.cargo_package.name }}</a></td>
                        <td>{{ outcome.cargo_package.version[0:15] }}</td>
                        {% if outcome.checks.trusted_publishing_evidence %}<td><a href="{{ outcome.checks.trusted_publishing_evidence }}">yes</a></td>{% else %}<td>no</td>{% endif %}
                        {% if outcome.checks.reproducibility_evidence %}<td><a href="{{ outcome.checks.reproducibility_evidence }}">yes</a></td>{% else %}<td>no</td>{% endif %}
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>
        </div>
    </section>
</main>

<footer>
    <small>This project is proudly maintened by <a href="https://github.com/dotanuki-labs">Dotanuki Labs</a>.</small>
</footer>

<script>
    document.querySelector("html")?.setAttribute("data-theme", "dark");
</script>
</body>
</html>
